JSON Parsing with different Orient

In [2]:
# Convert a Pandas DataFrame to a JSON String
import pandas as pd
import numpy as np
# Python Struct to data frame
df = pd.DataFrame({'Name': ['Nik', 'Kate', 'Isla'], 
                   'Age': [33, np.NaN, 37], 
                   'Sales': [33.33, 56.32, 43.44444]})

json_string = df.to_json()
print(json_string)

{"Name":{"0":"Nik","1":"Kate","2":"Isla"},"Age":{"0":33.0,"1":null,"2":37.0},"Sales":{"0":33.33,"1":56.32,"2":43.44444}}

In [3]:
# Convert a Pandas DataFrame to a JSON String with Default Orient
json_string = df.to_json()
print(json_string)

{"Name":{"0":"Nik","1":"Kate","2":"Isla"},"Age":{"0":33.0,"1":null,"2":37.0},"Sales":{"0":33.33,"1":56.32,"2":43.44444}}

In [4]:
# Records Format; More conventional
print(df.to_json(orient='records'))

[{"Name":"Nik","Age":33.0,"Sales":33.33},{"Name":"Kate","Age":null,"Sales":56.32},{"Name":"Isla","Age":37.0,"Sales":43.44444}]

In [5]:
# Index Orient
print(df.to_json(orient='index'))

{"0":{"Name":"Nik","Age":33.0,"Sales":33.33},"1":{"Name":"Kate","Age":null,"Sales":56.32},"2":{"Name":"Isla","Age":37.0,"Sales":43.44444}}

In [6]:
# Columns Orient
print(df.to_json(orient='columns'))

{"Name":{"0":"Nik","1":"Kate","2":"Isla"},"Age":{"0":33.0,"1":null,"2":37.0},"Sales":{"0":33.33,"1":56.32,"2":43.44444}}

In [7]:
# Values Orient; Like a matrix
print(df.to_json(orient='values'))

[["Nik",33.0,33.33],["Kate",null,56.32],["Isla",37.0,43.44444]]

In [8]:
# Tables Orient
print(df.to_json(orient='table'))

{"schema":{"fields":[{"name":"index","type":"integer"},{"name":"Name","type":"string"},{"name":"Age","type":"number"},{"name":"Sales","type":"number"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":0,"Name":"Nik","Age":33.0,"Sales":33.33},{"index":1,"Name":"Kate","Age":null,"Sales":56.32},{"index":2,"Name":"Isla","Age":37.0,"Sales":43.44444}]}

In [9]:
# Split Orient
print(df.to_json(orient='split', index=False))

{"columns":["Name","Age","Sales"],"data":[["Nik",33.0,33.33],["Kate",null,56.32],["Isla",37.0,43.44444]]}